
<?xml version="1.0" encoding="UTF-8"?>
<Module>
<ModulePrefs height="310" title="kThumb">
</ModulePrefs>
	<Content type="html">
		<![CDATA[
			<table style="border-spacing: 0px; border-collapse:collapse;"><tr>
<td><a href="http://img.chronicles.no/2014/07/another-awesome-summer-day-sfj-d-1.html" target="_blank">
<img style="height: 190px; width: 208px; border: 1px solid black;" src="http://lh6.ggpht.com/-kddCan-BVeU/U9YRHXlGJVI/AAAAAAAAb3o/fLHn8aPIC7c/s640/IMG_20140727_134001_1.jpg" alt="another awesome summer day #sfj #d-1" title="another awesome summer day #sfj #d-1"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/returning-from-nice-day-at-bleikya.html" target="_blank">
<img style="height: 190px; width: 208px; border: 1px solid black;" src="http://lh5.ggpht.com/-V9jpgNXmP4M/U9PrEz-GeSI/AAAAAAAAb3I/kkH9FjUnLCA/s640/IMG_20140726_183801_1.jpg" alt="returning from a nice day at bleik&oslash;ya" title="returning from a nice day at bleik&oslash;ya"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/another-30-day-lovesummer.html" target="_blank">
<img style="height: 190px; width: 208px; border: 1px solid black;" src="http://lh5.ggpht.com/-Q3HRFN7Dk3A/U9LJD8dLj3I/AAAAAAAAb20/eA66NFVSHkI/s640/IMG_20140725_161824_1.jpg" alt="another 30+ day #loveSummer #bestSummerEver #atLeastSince97" title="another 30+ day #loveSummer #bestSummerEver #atLeastSince97"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/about-allan-watts.html" target="_blank">
<img style="height: 190px; width: 208px; border: 1px solid black;" src="http://lh3.ggpht.com/-bT2KNm4i6vU/U9J-U7sdrjI/AAAAAAAAb2Y/nBqjBbikZnc/s640/Screenshot_2014-07-25-17-53-59.png" alt="about allan watts" title="about allan watts"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/test-run-coming-up.html" target="_blank">
<img style="height: 190px; width: 208px; border: 1px solid black;" src="http://lh6.ggpht.com/-NACNJmujIrM/U9I5327AKvI/AAAAAAAAb2I/18cV93C8rCE/s640/IMG_20140725_130315_1.jpg" alt="test run coming up" title="test run coming up"></a>
</a></td>

			</tr>
			
			<table style="border-spacing: 0px; border-collapse:collapse;"><tr>
<td><a href="http://img.chronicles.no/2014/07/the-proper-way-feather-as-d2s-muhle.html" target="_blank">
<img style="height: 102px; width: 102px; border: 1px solid black;" src="http://lh6.ggpht.com/-SfXmzbJT_kY/U9I2_sPx3AI/AAAAAAAAb18/RSq5ejRgeBs/s640/IMG_20140725_125031_1.jpg" alt="the proper way - feather as-d2s - m&uuml;hle" title="the proper way - feather as-d2s - m&uuml;hle"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/lindya-rundt-16.html" target="_blank">
<img style="height: 102px; width: 102px; border: 1px solid black;" src="http://lh3.ggpht.com/-DOurZuPoYmM/U9F1geOUsbI/AAAAAAAAb1s/BIhiHsgR6I0/s640/IMG_20140724_210944_1.jpg" alt="lind&oslash;ya rundt 16" title="lind&oslash;ya rundt 16"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/lindya-rundt-15.html" target="_blank">
<img style="height: 102px; width: 102px; border: 1px solid black;" src="http://lh3.ggpht.com/-nbheFdJF8DE/U9F1dxA2PNI/AAAAAAAAb1k/0Trm8TGifTk/s640/IMG_20140724_184222_1.jpg" alt="lind&oslash;ya rundt 15" title="lind&oslash;ya rundt 15"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/lindya-rundt-14.html" target="_blank">
<img style="height: 102px; width: 102px; border: 1px solid black;" src="http://lh6.ggpht.com/-d5O-j0uRa2s/U9F1bBH004I/AAAAAAAAb1c/4ywZai_yb9E/s640/IMG_20140724_183709_1.jpg" alt="lind&oslash;ya rundt 14" title="lind&oslash;ya rundt 14"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/lindya-rundt-13.html" target="_blank">
<img style="height: 102px; width: 102px; border: 1px solid black;" src="http://lh4.ggpht.com/-KL4IsglevFY/U9F1YZ1ho4I/AAAAAAAAb1U/7QJvN0_1Stc/s640/IMG_20140724_183659_1.jpg" alt="lind&oslash;ya rundt 13" title="lind&oslash;ya rundt 13"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/lindya-rundt-12.html" target="_blank">
<img style="height: 102px; width: 102px; border: 1px solid black;" src="http://lh6.ggpht.com/-gUTxJUJJxJY/U9F1VTEDQtI/AAAAAAAAb1M/-YD4thrAVcs/s640/IMG_20140724_183514_1.jpg" alt="lind&oslash;ya rundt 12" title="lind&oslash;ya rundt 12"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/lindya-rundt-11.html" target="_blank">
<img style="height: 102px; width: 102px; border: 1px solid black;" src="http://lh4.ggpht.com/-6q25lg_Q7Gg/U9F1RnREaLI/AAAAAAAAb1E/dsmyuZLfn98/s640/IMG_20140724_183159_1.jpg" alt="lind&oslash;ya rundt 11" title="lind&oslash;ya rundt 11"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/lindya-rundt-10.html" target="_blank">
<img style="height: 102px; width: 102px; border: 1px solid black;" src="http://lh3.ggpht.com/-LLfIOYUcbRQ/U9F1OfWsANI/AAAAAAAAb08/tl45uLYs_xY/s640/IMG_20140724_183148_1.jpg" alt="lind&oslash;ya rundt 10" title="lind&oslash;ya rundt 10"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/lindya-rundt-9.html" target="_blank">
<img style="height: 102px; width: 102px; border: 1px solid black;" src="http://lh6.ggpht.com/-KiQ4NblSNX8/U9F1Hdc33uI/AAAAAAAAb00/Qd3rVUSvDuc/s640/IMG_20140724_183143_1.jpg" alt="lind&oslash;ya rundt 9" title="lind&oslash;ya rundt 9"></a>
</a></td>
<td><a href="http://img.chronicles.no/2014/07/lindya-rundt-8.html" target="_blank">
<img style="height: 102px; width: 102px; border: 1px solid black;" src="http://lh5.ggpht.com/-_DPhQiXQefU/U9F1Ewd8kYI/AAAAAAAAb0s/GEdpMOMcJXY/s640/IMG_20140724_183117_1.jpg" alt="lind&oslash;ya rundt 8" title="lind&oslash;ya rundt 8"></a>
</a></td>

			</tr></table>
		]]>
	</Content>
</Module>
